.add{
  width: 100px;
  height: 50px;
  background: green;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.minus{
  width: 100px;
  height: 50px;
  background: darkblue;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.num{
  color:#000;
  font-size: 20px;
  line-height: 80px;
}